<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:label="Tessera"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <activity
            android:name=".ConfigureActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widgets.ClockSmallWidget"
            android:exported="false"
            android:label="Clock · 2×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_clock_small" />
        </receiver>
        <receiver
            android:name=".widgets.ClockWidget"
            android:exported="false"
            android:label="Clock · 4×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_clock_wide" />
        </receiver>
        <receiver
            android:name=".widgets.ClockLargeWidget"
            android:exported="false"
            android:label="Clock · 4×4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_clock_large" />
        </receiver>
        <receiver
            android:name=".widgets.BatterySmallWidget"
            android:exported="false"
            android:label="Battery · 2×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_battery_small" />
        </receiver>
        <receiver
            android:name=".widgets.BatteryWidget"
            android:exported="false"
            android:label="Battery · 4×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_battery_wide" />
        </receiver>
        <receiver
            android:name=".widgets.BatteryLargeWidget"
            android:exported="false"
            android:label="Battery · 4×4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_battery_large" />
        </receiver>
        <receiver
            android:name=".widgets.CalendarSmallWidget"
            android:enabled="false"
            android:exported="false"
            android:label="Calendar · 2×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_calendar_small" />
        </receiver>
        <receiver
            android:name=".widgets.CalendarWidget"
            android:exported="false"
            android:label="Calendar · 4×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_calendar_wide" />
        </receiver>
        <receiver
            android:name=".widgets.CalendarLargeWidget"
            android:enabled="false"
            android:exported="false"
            android:label="Calendar · 4×4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_calendar_large" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherSmallWidget"
            android:enabled="false"
            android:exported="false"
            android:label="Weather · 2×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_weather_small" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherWidget"
            android:exported="false"
            android:label="Weather · 4×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_weather_wide" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherLargeWidget"
            android:enabled="false"
            android:exported="false"
            android:label="Weather · 4×4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_weather_large" />
        </receiver>
        <receiver
            android:name=".widgets.CountdownSmallWidget"
            android:enabled="false"
            android:exported="false"
            android:label="Countdown · 2×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_countdown_small" />
        </receiver>
        <receiver
            android:name=".widgets.CountdownWidget"
            android:exported="false"
            android:label="Countdown · 4×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_countdown_wide" />
        </receiver>
        <receiver
            android:name=".widgets.CountdownLargeWidget"
            android:enabled="false"
            android:exported="false"
            android:label="Countdown · 4×4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_countdown_large" />
        </receiver>
        <receiver
            android:name=".widgets.NoteSmallWidget"
            android:enabled="false"
            android:exported="false"
            android:label="Note · 2×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_note_small" />
        </receiver>
        <receiver
            android:name=".widgets.NoteWidget"
            android:exported="false"
            android:label="Note · 4×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_note_wide" />
        </receiver>
        <receiver
            android:name=".widgets.NoteLargeWidget"
            android:enabled="false"
            android:exported="false"
            android:label="Note · 4×4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_note_large" />
        </receiver>
        <receiver
            android:name=".widgets.PhotoSmallWidget"
            android:enabled="false"
            android:exported="false"
            android:label="Photo · 2×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_photo_small" />
        </receiver>
        <receiver
            android:name=".widgets.PhotoWidget"
            android:enabled="false"
            android:exported="false"
            android:label="Photo · 4×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_photo_wide" />
        </receiver>
        <receiver
            android:name=".widgets.PhotoLargeWidget"
            android:enabled="false"
            android:exported="false"
            android:label="Photo · 4×4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_photo_large" />
        </receiver>
        <receiver
            android:name=".widgets.SkySmallWidget"
            android:enabled="false"
            android:exported="false"
            android:label="Sun &amp; Moon · 2×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sky_small" />
        </receiver>
        <receiver
            android:name=".widgets.SkyWidget"
            android:enabled="false"
            android:exported="false"
            android:label="Sun &amp; Moon · 4×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sky_wide" />
        </receiver>
        <receiver
            android:name=".widgets.SkyLargeWidget"
            android:enabled="false"
            android:exported="false"
            android:label="Sun &amp; Moon · 4×4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sky_large" />
        </receiver>
        <receiver
            android:name=".widgets.DeviceSmallWidget"
            android:enabled="false"
            android:exported="false"
            android:label="Device · 2×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_device_small" />
        </receiver>
        <receiver
            android:name=".widgets.DeviceWidget"
            android:enabled="false"
            android:exported="false"
            android:label="Device · 4×2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_device_wide" />
        </receiver>
        <receiver
            android:name=".widgets.DeviceLargeWidget"
            android:enabled="false"
            android:exported="false"
            android:label="Device · 4×4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_device_large" />
        </receiver>

        <receiver android:name=".engine.TickReceiver" android:exported="false" />
        <receiver android:name=".engine.PinReceiver" android:exported="false" />
        <receiver android:name=".engine.SystemEventsReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
